html,body,main{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    border: none;
    overflow: hidden;
}

.container-fluid{
    padding: 0!important;
    margin: 0 !important
}

.bg{
    width: 100%;
}

.hook{
    position: absolute;
    top: 0;
}

.line{
    position: absolute;
    top: 0;
    width: 40%;
}
