.navigation{
    margin-right: 10rem;
    margin-top: 3rem;
}

.navigation>li>a{
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    color: black;
}

.navigation>li>a:hover{
    color: grey;
}

.navigation>li>a.active{
    color: lightgrey;
}

.title{
    display: block;
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    text-align: center;
}

.name{
    display: block;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    line-height: 5rem;
}

.name::selection{
    color: gray;
}

.welcome::selection{
    color: black;
}

.title>h5{
    display:block;
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: gray;
    margin-top: 2rem;
}

.projects{
    margin-top: 3rem;
}

.col-5>div{
    margin-top: 2rem;
}


.card{
    height: 23rem;
    overflow: hidden;
    border: none;
    cursor: pointer;
}

.card-img{
    width: 100%;
    height: 100%;
}

.cover{
    display: none;
}

.cover.active{
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 100;
    text-align: center;
    margin-top: 7rem;
}

.cover-title{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.cover-title>h3{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
}

.cover>hr{
    display: block;
    width: 60%;
    height: 0.01rem;
    background-color: white;
}

.cover-content{
    display: inline-block;
    width: 50%;
    text-align: left;
}

.cover-content>h6{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: white;
}