body{
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out{
    opacity: 0;
    transition: none;
}

.navigation-bar{
    margin-top: 0.5rem;
}
.navigation{
    margin-right: 5rem;
    background-color: transparent;
}

.navbar-brand>i{
    color: black;
    margin-left: 2rem;
}

.navbar-brand>i:hover{
    color: grey;
}

.navigation>li>a{
    font-family: 'Poiret One', cursive;
    font-size: 1.2rem;
    color: black;
}

.navigation>li>a:hover{
    color: grey;
}

.navigation>li>a.active{
    color: lightgrey;
}

.head-pic{
    width: 100%;
    height: 30rem;
}

.row>.background{
    width: 5%;
    height: 25rem;
    position: absolute;
    z-index: -100;
    background-color: #632866;
    overflow: hidden;
    padding: 0;
}

.bg-img{
    width: 100%;
}


.row > .objects {
    width: 30rem;
    height: 25rem;
    position: absolute;
    margin-top: -600px;
    right: 50%;
    margin-right: -15rem;
}

.row > .background > .illustration {
    display: inline-block;
    position: absolute;
    width: 30rem;
    left: 10rem;
    margin-top: 1.5rem;
    text-align: right;
}

.row>.title{
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
}

.row > .title > p {
    color: black;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}


@media (min-width: 992px) {
    .row > .objects {
        width: 30rem;
        height: auto;
        position: absolute;
        right: 10rem;
        margin-top: -600px;
        margin-right: 0;

    }

    .row > .background > .illustration {
        display: inline-block;
        position: absolute;
        width: 30rem;
        left: 10rem;
        margin-top: 1.5rem;
        text-align: right;
    }

    .row > .title {
        position: absolute;
        z-index: -100;
        margin-left: 15rem;
        left: 0;
        top: 15rem;
        text-align: left;
    }

    .row > .title > p {
        color: white;
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 3rem;
    }
}

.intro{
    background-color: #F5F5F5;
    display: block;
    width: 100%;
    margin-top: -5rem;
}

.content-intro{
    padding: 5rem;
    padding-top: 0;
}

.intro-intro{
    text-align: center;
    margin-bottom: 2rem;
}

.intro-intro>p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 3rem;
}

.intro-title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.content-intro div{
}

.content-intro div:last-of-type{
    padding-top: 3rem;
}

.content-intro h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.content-intro h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
}

.main{
    display: block;
    width: 100%;
}

.content-main{
    padding: 3rem;
}

.main-intro{
    text-align: center;
}

.main-intro p{
    margin-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.intro-num{
    width: 3rem;
}

.main:nth-of-type(2n){
    background-color: white;
}

.main:nth-of-type(2n+1){
    background-color: #F5F5F5;
}

.main-content{
    text-align: center;
    margin-bottom: 1.5rem;
}

.main-content-img{
    width: 40rem;
}

.main-content h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

.main-content h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.5rem;
}


.end{
    width: 100%;
    height: 25rem;
}

.end>img{
    height: 25rem;
    position: absolute;
    z-index: -100;
}

.content-end{
    padding: 5rem;
}

.end-intro{
    text-align: center;
}

.end-content{
    text-align: center;
}

.UI-display{
    text-align: center;

}
.UI-display>img{
    width: 15rem;
}

.end-intro p{
    margin-top: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
}

footer{
    margin-top: 4rem;
}
footer>.navigation{
    margin-left: 8rem;
    margin-bottom: 5rem;
}

.copyright{
    display: inline-block;
    width: auto;
    height: 100%;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-left: 10rem;
    font-family: 'Playfair Display', serif;
}